.header {
  padding: 10px 0;
  height: 70px;
  line-height: 70px;
  margin-bottom: 10px;  
  background: beige;
}

.header__title {
  display: flex;
  align-items: center;
  /*margin-left: 10px;*/
  float: left;
  font-family: 'Saira', sans-serif;
  font-size:40px;
  font-weight: 400;
  line-height: 40px;
  text-rendering: auto;
  transform: translate(0,0);
  padding-right: 20px;
  }



.log__message {
  height: 50px;
  width: 500px;
  margin-left: 400px;
  font-size: 20px;
  color: #777;
}

.signOut {
  width: 40px;
  height: 40px;
}

.material-icons {
  margin-left: -5px;
}