.cell {
	display: inline-flex;
}

.group-item {
	display: block;
	margin-bottom: 3px;
	width: 300px;
	background: #cbcba1;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;

}

.group-item__title {
	width: 160px;
	padding-left: 10px;
	font-weight: bold;
	font-family: 'Saira', sans-serif;

}

.group-item__input {
	width: 180px;
	margin-right: 27px;
}

button.active {
	background: #7cec7c; /*#7cec7c*/
}

button:hover {
	background: #dbd6d6;
	transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;


	transform: scale(1.05);  
	-moz-transform: scale(1.05);
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05);
  


}